.img-fluid {
  max-width: 100%;
  height: auto;
  object-fit: cover; /* Asegura que la imagen cubra el espacio sin distorsionarse */
}

/* Estilos para el botón de "Agregar al carrito" en el detalle */
.btn-primary {
  background-color: #002244; /* Tu azul oscuro del navbar */
  border-color: #002244;
  color: #ffffff;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #003366;
  border-color: #003366;
}

.btn-secondary {
  background-color: #6c757d; /* Color gris de Bootstrap */
  border-color: #6c757d;
  color: #ffffff;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-primary .fas, .btn-secondary .fas {
  margin-right: 5px;
}