/* Estilos existentes para la imagen y la tarjeta... */

/* Nuevo estilo para el contenedor principal */
.container {
  border: 5px solid #002244; /* Borde azul: 5px de grosor, sólido, color Bootstrap primary blue */
  padding: 20px; /* Un poco de padding para que el contenido no pegue al borde */
  border-radius: 8px; /* Bordes ligeramente redondeados */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), /* Sombra principal para la profundidad */
              0 6px 6px rgba(0, 0, 0, 0.25); /* Sombra adicional para un efecto más pronunciado */
  transition: all 0.3s ease-in-out; /* Transición suave para cualquier cambio futuro */
}

/* Opcional: un ligero efecto al pasar el ratón para más interactividad */
.container:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3),
              0 8px 8px rgba(0, 0, 0, 0.35);
}


/* Tus estilos existentes para las imágenes y las tarjetas */
/* Contenedor de la imagen */
.card-img-container {
  height: 250px;
  overflow: hidden;
  position: relative;
}

/* Estilo para las imágenes dentro del contenedor */
.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

/* Efecto cuando el ratón pasa por encima */
.card-img-container:hover .card-img-top {
  transform: scale(1.1);
  cursor: pointer;
}

/* Puedes añadir efectos adicionales a las tarjetas si quieres */
.card {
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}


.btn-primary {
  background-color: #002244; /* Tu azul oscuro del navbar */
  border-color: #002244;    /* Asegura que el borde también sea azul oscuro */
  color: #ffffff;          /* Texto blanco para el botón */
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; /* Transiciones suaves */
}

.btn-primary:hover {
  background-color: #003366; /* Un tono ligeramente más claro al pasar el ratón */
  border-color: #003366;
  color: #ffffff;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 34, 68, 0.5); /* Sombra de enfoque con el color azul oscuro */
}